<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>CORS EXAMPLE</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col col-sm-12">
            <div class="jumbotron text-center">
                <h1>Dicoding Final Submission</h1>
                <p>Azure Cloud Developer</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-3 col-md-3">
            <h3>Upload File Images</h3>
            <form id="form" action="" method="post" enctype="multipart/form-data">
                <input class="form-control-file border" type="file" accept="image/*" name="uploadFile" id="uploadFile">
                <br>
                <button type="submit" class="btn btn-primary btnUpload" name="btnUpload" id="btnUpload">Upload
                    File
                </button>
            </form>
        </div>
        <div class="col col-sm-9 col-md-9">
            <table id="table" class="table">
                <thead>
                <tr>
                    <th scope="col">Images</th>
                    <th scope="col">File Name</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Mark</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

<script>
    const url = "https://dicoding-final-submission.azurewebsites.net"
    $(document).ready(function (e) {
        $("#form").on('submit', (function (e) {
            e.preventDefault();
            $.ajax({
                url: `${url}/azure`,
                type: "POST",
                data: new FormData(this),
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {
                    $("#uploadFile").val("")
                    alert(data.message)
                },
                error: function (error) {
                    console.log(error)
                }
            });
        }));
    });
</script>
</html>